<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="CurrencyType" type="exchange.common.entity.CurrencyType"/>
        <typeAlias alias="ExchangeRate" type="exchange.common.entity.ExchangeRate"/>
    </typeAliases>

</configuration>